
/*
    Menu Styles
 */
.dropdown-menu {
    border-top:none;
    padding: 0px;
}
.navbar-toggle {
    box-shadow: none;
    margin-top: 31px;
    border: none;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus,
.navbar-default .navbar-nav > li.current-menu-parent > a {
    color: #82ac06;
} 
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    box-shadow: none;
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    width: 30px;
    height: 4px;
}
.navbar-default {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
}
.navbar-default .navbar-nav > li > a {
    font-weight: bold;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #82ac06;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
    color: #82ac06;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #82ac06;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}
.navbar-nav li li a {
    line-height: 50px;
    height: 50px;
    border-top: 1px solid rgba(0,0,0,0.15);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #82ac06;
}

/**
 * Shop
 */
.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary,
.woocommerce div.product .woocommerce-tabs .panel {
    padding: 20px;
    background: #fff;
    margin-top: 0px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
    font-family: 'Bree serif', serif;
    color: #333;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border: none;
}
.woocommerce #comments {
    margin: 0px;
    background: #fff;
    padding: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.woocommerce .iconic-woothumbs-all-images-wrap {
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    margin-bottom: 0px;
}
.woocommerce div.product .product_title {
    font-family: 'Bree serif', serif;
    color: #333;
}
.woocommerce .catcontainer {
    margin-top: 45px;
}
.woocommerce .catcontainer .product {
    padding-bottom: 25px;
}
.woocommerce .navbar {
    background: #fff;
}
.woocommerce .label {
    color: #6d6d6d;
}
.woocommerce .woocommerce-loop-product__title {
    font-size: 18px;
    font-family: 'Bree serif', serif;
    color: #333;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.woocommerce .productarchive:hover .woocommerce-loop-product__title {
    color: #5e9600;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
    position: static; 
    float: right;
    margin-top: 12px;
    margin-left: 5px;
    opacity: 0.5;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    width: 48px;
    border: 1px solid #ccc;
    padding: 1px;
}
.woocommerce .productarchive {
    padding-bottom: 60px;
    text-align: center;
}
.woocommerce .productarchive .star-rating {
    display: none;
}
.woocommerce .related.products h2 {
    font-family: 'Bree serif', serif;
    color: #333;
    margin-bottom: 30px;
}
.woocommerce .productarchive img {
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.woocommerce .productarchive:hover img{
}
.woocommerce .productarchive .button {
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.woocommerce .price del {
    font-size: 0.8em;
}
.woocommerce #secondary {
	padding-top: 0px;
}
.woocommerce .woocommerce-breadcrumb {
	padding: 10px 30px;
	font-family: 'Bree serif', serif;
    font-size: 11px;
    margin: 10px 0px 40px 0px;
    color: #222;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.woocommerce .woocommerce-ordering {
    margin: 8px 0px;
    border: none;
}
.woocommerce .woocommerce-products-header {
	position: relative;
}
.woocommerce .woocommerce-products-header h1 {
	font-family: 'Bree serif', serif;
    font-size: 36px;
    margin: 0px 0px 25px 0px;
    color: #222;
}
.woocommerce .woocommerce-products-header h1:after {
	content: "";
    display: block;
    width: 100px;
    position: absolute;
    bottom: -25px;
    border-bottom: 5px solid #d8d8d8;
}
.woocommerce .product-category a {
    border: 1px solid #5e9600;
    padding: 5px;
    display: inline-block;
    position: relative;
}
.woocommerce .product-category a h2 {
    position: absolute;
    top: 50%;
    background: rgba(255,255,255,1);
    font-family: 'Bree serif', serif;
}
.woocommerce .product-category a h2 .count {
    background: #000;
    color: #666;
    font-size: 16px;
}


/** 
 * Page Styles
 */

#primary, #secondary {
    padding-top: 10px;
}
.home-section {
}
.home-banner {
    margin-top: -20px;
    background: #82ac06;
    color: #fff;
    border-bottom: 5px solid #fff;
    display: table;
}
.home-banner img {
    border-right: 5px solid #fff;
}
.home-banner h1 {
    font-family: 'Bree Serif', serif;
    font-size: 42px;
    margin-bottom: 30px;

}
.home-spotlight {
    padding: 40px;
}
.grid-box .grid-pic:after {
    background: none;
}