/* Theme style */
html,
body {
  height: 100%;
}
body {
  background: #eeeeee url(../images/body.png) fixed;
}
body,
button,
input,
select,
textarea {
  color: #6d6d6d;
}
a {
  color: #5e9600;
}
a:visited {
  color: #5e9600;
}
a:hover,
a:focus,
a:active {
  color: #000000;
  text-decoration: none;
}
#page {
  min-height: 100%;
  position: relative;
}
/*Header*/
#masthead {
  min-height: 300px;
  position: relative;
  background: #111;
}
#masthead .site-branding {
  position: absolute;
  bottom: 60px;
  z-index: 100;
  width: 100%;
}
#masthead .site-branding h1.site-title {
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin: 30px 0px 10px 0px;
}
#masthead .site-branding h1.site-title a:link,
#masthead .site-branding h1.site-title a:visited {
  color: #fff;
}
#masthead .site-branding h2.site-description {
  color: #fff;
  font-family: 'Bree Serif', serif;
  font-size: 28px;
  margin: 0px 0px 30px 0px;
}
#masthead .inhead {
  top: 0px;
}
#masthead .main-navigation {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  z-index: 1000;
}
.hslides ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.hslides ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main-navigation {
  clear: both;
  display: block;
  background: #2c252d;
}
.main-navigation ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main-navigation ul li {
  position: relative;
  float: left;
}
.main-navigation a:link,
.main-navigation a:visited {
  display: block;
  text-decoration: none;
  color: #fff;
}
.main-navigation ul.menu > li {
  font-weight: bold;
  font-size: 14px;
}
.main-navigation ul.menu > li.current-menu-item > a {
  color: #fff;
}
.main-navigation .menu li.menu-item-has-children:after {
  content: "\f107";
  font-family: 'Fontawesome';
  position: absolute;
  right: 10px;
  top: 18px;
  color: #fff;
}
.main-navigation .sub-menu li.menu-item-has-children:after {
  content: "\f105";
  font-family: 'Fontawesome';
  position: absolute;
  right: 10px;
  top: 15px;
}
.main-navigation ul > li a:link,
.main-navigation .main-navigation ul > li a:visited {
  color: #fff;
  padding: 19px 15px 19px 15px;
  margin: 0px 0px 0px 0px;
}
.main-navigation .menu li.menu-item-has-children a {
  padding-right: 25px;
}
.main-navigation ul > li a:hover {
  color: #fff;
  display: block;
  background: #82ac06;
}
.main-navigation ul ul {
  background: #82ac06;
  display: none;
  float: left;
  left: 0;
  position: absolute;
  top: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.main-navigation ul ul ul {
  left: 100%;
  top: -1px;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  font-weight: 600;
}
.main-navigation ul ul li a:link,
.main-navigation ul ul li a:visited {
  color: #eee;
  padding: 15px 10px;
  margin: 0px 0px;
}
.main-navigation ul ul li a:hover {
  color: #fff;
}
.main-navigation ul li:last-child {
  border: none;
}
.main-navigation ul li:hover > ul {
  display: block;
}
.home-section {
  margin-top: 50px;
}
.home-section .section-title {
  margin-bottom: 50px;
  text-shadow: 1px 1px 0px #fff;
}
.home-section .section-title:after {
  content: "";
  display: block;
  width: 100px;
  position: absolute;
  bottom: -15px;
  left: 15px;
  border-bottom: 5px solid #d8d8d8;
}
.home-section .section-title h2 {
  color: #111;
  font-family: 'Bree Serif', serif;
  font-size: 42px;
  margin: 0px 0px;
}
.home-section .section-title span {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 300;
  color: #82ac06;
}
.grid-box {
  background: #fff;
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.grid-box .grid-pic {
  position: relative;
  cursor: pointer;
}
.grid-box .grid-pic .gp-overlay {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 200;
  font-size: 18px;
}
.grid-box .grid-pic .gp-overlay span {
  height: 40px;
  width: 40px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.8);
  line-height: 40px;
  text-align: center;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.grid-box .grid-pic .gp-overlay span a {
  color: #fff;
  display: block;
}
.grid-box .grid-pic .gp-overlay span.light {
  left: -45px;
  opacity: 0;
}
.grid-box .grid-pic .gp-overlay span.hyper {
  right: -45px;
  opacity: 0;
}
.grid-box .grid-pic a img {
  display: block;
}
.grid-box .grid-pic:hover span.light {
  left: 50%;
  margin-left: -45px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
}
.grid-box .grid-pic:hover span.hyper {
  right: 50%;
  margin-right: -45px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
}
.grid-box .grid-pic:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 59px;
  background: url(../images/shade.png) repeat-x;
  z-index: 110;
  bottom: 0px;
  left: 0px;
}
.grid-box .grid-entry {
  padding: 10px 20px 20px 20px;
}
.grid-box .grid-entry h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  margin: 10px 0px 5px 0px;
  color: #222;
}
.grid-box .grid-entry h2 a {
  color: #222;
}
.grid-box .grid-entry span {
  font-size: 13px;
}
.grid-box .grid-entry .grid_title {
  position: relative;
  padding-bottom: 10px;
}
.grid-box .grid-entry .grid_title:after {
  content: "";
  display: block;
  width: 100px;
  position: absolute;
  bottom: -5px;
  left: 0px;
  border-bottom: 5px solid #d8d8d8;
}
#primary,
#secondary {
  padding: 50px 0px;
  position: relative;
}
.pages-header {
  background: #fff;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pages-header h1 {
  margin: 0px 0px;
  padding: 20px 20px;
  font-size: 18px;
  font-family: 'Bree serif', serif;
}
.hentry {
  background: #fff;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.hentry .entry-header {
  padding: 10px 30px;
  position: relative;
}
.hentry .entry-header:after {
  content: "";
  display: block;
  width: 100px;
  position: absolute;
  bottom: -5px;
  left: 30px;
  border-bottom: 5px solid #d8d8d8;
}
.hentry .entry-header h1.entry-title {
  font-family: 'Bree serif', serif;
  font-size: 36px;
  margin: 10px 0px 5px 0px;
  color: #222;
}
.hentry .entry-header h1.entry-title a {
  color: #222;
}
.hentry .entry-header .entry-meta span {
  margin-right: 10px;
  color: #5e9600;
}
.hentry .entry-header .entry-meta span b {
  color: #333;
}
.hentry .page-content,
.hentry .entry-content,
.hentry .entry-summary {
  padding: 0px 30px;
}
.hentry .entry-footer {
  padding: 0px 30px 20px 30px;
}
.hentry .entry-footer span {
  margin-right: 10px;
}
.recipe .ingredients {
  margin-bottom: 20px;
}
.recipe .ingredients h3 {
  font-family: 'Bree serif', serif;
  font-size: 26px;
  margin: 10px 0px 20px 0px;
  color: #82ac06;
}
.recipe .ingredients ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.recipe .ingredients ul li {
  list-style: none;
  margin: 0px;
  padding: 3px 0px;
}
.recipe .ingredients ul li i {
  margin-right: 10px;
  font-size: 16px;
  color: #82ac06;
  cursor: pointer;
}
.recipe .steps {
  margin-bottom: 20px;
}
.recipe .steps h3 {
  font-family: 'Bree serif', serif;
  font-size: 26px;
  margin: 10px 0px 20px 0px;
  color: #82ac06;
}
.recipe .steps ol {
  margin: 0px;
  padding: 0px 0px;
}
.recipe .steps ol li {
  margin: 10px 0px;
  padding: 20px 20px;
  background: #f3f3f3;
  list-style-position: inside;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.recipe .steps ol li.checked {
  color: #ccc;
}
.recipe .video {
  margin-bottom: 20px;
}
.recipe .video h3 {
  font-family: 'Bree serif', serif;
  font-size: 26px;
  margin: 10px 0px 20px 0px;
  color: #82ac06;
}
.recipe .video iframe {
  width: 100%;
}
#secondary .widget {
  margin-bottom: 40px;
  background: #fff;
  padding: 30px 30px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#secondary .widget h1.widget-title {
  font-size: 20px;
  color: #000;
  font-family: 'Bree serif', serif;
  margin: 0px 0px 20px 0px;
}
#secondary .widget ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#secondary .widget ul li {
  list-style: none;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px dotted #ddd;
}
#secondary .widget ul li a:link,
#secondary .widget ul li a:visited {
  color: #6d6d6d;
}
#secondary .squarebanner {
  margin-bottom: 40px;
  background: #fff;
  padding: 30px 30px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#secondary .squarebanner h3.sidetitl {
  font-size: 20px;
  color: #000;
  font-family: 'Bree serif', serif;
  margin: 0px 0px 20px 0px;
}
#secondary .squarebanner ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#secondary .squarebanner li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
#secondary .squarebanner li:nth-child(even) {
  margin-right: 0px;
}
.fab-pagination span {
  padding: 8px 15px;
  display: inline-block;
  border: 1px solid #ddd;
  background: #fff;
  margin-right: 5px;
}
.fab-pagination a {
  padding: 8px 15px;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #ddd;
}
/*Comments*/
#comments {
  margin: 40px 0px;
  background: #fff;
  padding: 30px 30px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#comments .comment-navigation {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 14px;
  background: #fbfbfb;
}
#comments h2.comments-title {
  font-size: 24px;
  color: #222;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 5px solid #eee;
  font-family: 'Bree serif', serif;
}
#comments ol.comment-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#comments ol.comment-list li {
  margin: 30px 0px 0px 0px;
}
#comments ol.comment-list li .comment-body .comment-meta {
  background: #f4f4f4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 10px;
}
#comments ol.comment-list li .comment-body .comment-meta .avatar {
  float: left;
  margin-right: 20px;
}
#comments ol.comment-list li .comment-body .comment-meta .comment-author {
  font-weight: bold;
  font-size: 16px;
  color: #222;
}
#comments ol.comment-list li .comment-body .comment-meta .comment-author a {
  color: #222;
}
#comments ol.comment-list li .comment-body .comment-meta .comment-author cite {
  font-style: normal;
}
#comments ol.comment-list li .comment-body .comment-meta .comment-metadata {
  font-size: 13px;
}
#comments ol.comment-list li .comment-body .comment-meta .comment-metadata span,
#comments ol.comment-list li .comment-body .comment-meta .comment-metadata a {
  margin: 0px 2px;
}
#comments ol.comment-list li .comment-body .comment-meta p.comment-awaiting-moderation {
  margin: 0px 0px 0px 70px;
  color: #ff0000;
}
#comments ol.comment-list li .comment-body .comment-content {
  padding-top: 20px;
}
#comments #respond {
  margin: 30px 0px;
}
#comments #respond h3 {
  color: #222;
  margin: 0px 0px 20px 0px;
  padding-bottom: 20px;
  font-size: 20px;
  border-bottom: 5px solid #eee;
  font-family: 'Bree serif', serif;
}
#comments #respond p {
  margin-bottom: 10px;
}
#comments #respond p label {
  display: block;
}
#comments #respond p input {
  border-color: #ddd;
}
#comments #respond p.logged-in-as {
  display: none;
}
#comments #respond p.form-submit {
  margin-bottom: 0px;
}
/*Footer widgets*/
#footer-widgets {
  background: #2c252d;
  padding: 30px 0px;
}
#footer-widgets .widget {
  margin-bottom: 30px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ccc;
}
#footer-widgets .widget h1.widget-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: 'Roboto Slab', serif;
}
#footer-widgets .widget ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#footer-widgets .widget ul li {
  list-style: none;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
}
#footer-widgets .widget ul li a:link,
#footer-widgets .widget ul li a:visited {
  color: #ccc;
}
#footer-widgets .widget ul li a:hover {
  color: #fff;
}
/*Footer*/
.site-footer {
  background: #110e11;
}
.site-footer .site-info {
  padding: 30px 0px;
  color: #aaa;
}
.site-footer .site-info a {
  color: #aaa;
}
